<div class="main">
	<div class="comp_dashboard text-center"> Competition Dashboard
	</div>
	<div>
		<div class="row comp_list" style="border-top: 5px solid #ff0059;">
			<div class="col-sm-5">Competition</div>
			<div class="col-sm-2">Number of games</div>
			<div class="col-sm-2">Number of match days</div>
			<div class="col-sm-2">Number of teams</div>
		</div>
		<div class="row comp_list" ng-repeat="comp_obj in comp_list">
			
			<div class="col-sm-5"><a href="" ng-click="fetchTeams(comp_obj.comp_ID)">{{comp_obj.comp_name}}</a></div>
			<div class="col-sm-2">{{comp_obj.num_games}}</div>
			<div class="col-sm-2">{{comp_obj.match_days}}</div>
			<div class="col-sm-2">{{comp_obj.num_team}}</div>
		</div>
	</div>
	<p></p>
</div>